::-webkit-progress-bar {
    background: #fff;
}
::-webkit-progress-value {
    background: #5CBAFC;
}
::-moz-progress-bar {
    background: #5CBAFC;
}
html, body, div, span, p, h1, h2, h3, h4, h5, h6, … { 
    margin: 0; 
    padding: 0; 
    border: 0 none; 
    outline: 0; 
    font-size: 100%; 
    vertical-align: baseline; 
    background: transparent; 
    text-decoration: none; 
}
input[data-textfield]:focus {
	outline:none;
	box-shadow: 0 0 2vw 0.5vw rgba(0,0,0,0.2);
}
input[data-check]{
	display: none;
}
input[data-check] + label{
	padding-left: 0.5vw;
	font-size: 1.2vw;
	line-height: 3vw;
	height: 3vw;
	display: block;
	position: relative;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 25px 0 rgba(0,0,0,0.19);
	cursor: pointer;
	-webkit-transition: color 0.1s ease-out;
	-moz-transition: color 0.1s ease-out;
	-o-transition: color 0.1s ease-out;
	transition: color 0.1s ease-out;
}

input[data-check]:checked + label{
	box-shadow: inset 0 2px 16px 0 rgba(0,0,0,0.2);
	border: 0.1vw solid rgba(0,0,0,0.2);
}	

.board {
	position: absolute;
	top:50%;
	left:50%;
	display: block;
	width: 490px;
	height: 490px;
	margin-top: -245px;
	margin-left: -245px;
	border: 5px solid #999999;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.board-container {
	float: none !important;
	padding:0 !important;
}
.board-container{
	min-width: 490px;
}

.board__cell {
	width: 12.5%;
	height: 60px;
	float: left;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	-webkit-transition: background 0.5s ease-out;
	-moz-transition: background 0.5s ease-out;
	-o-transition: background 0.5s ease-out;
	transition: background 0.5s ease-out;
}

.block-notification {
	width: 20vw;
	margin: auto;
	padding-top: 1.5vw;
	padding-bottom: 1.5vw;
	color: #f00;
	font-weight: 600;
	font-size: 1.2vw;
	text-align: left;
}




.chat{
	position: absolute;
	top:0;
	width: 100%;
	bottom: 0;
	overflow-y: auto;
	padding: 25px;
	padding-top:35px;
}
.message-block{
	position: relative;
	line-height: 25px;
    padding: 10px 15px 10px 15px;
    background: #CED0B6;
    margin-top: 5px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
    overflow-wrap: break-word;
}
.message-block.your-message{
	background: #99ff99;
	border-top-left-radius: 10px;
	border-top-right-radius: 0px;
}
.message-block.other-message{
	background: #ffff80;
	border-top-right-radius: 10px;
}
.message-block:before{
    content: '';
    position: absolute;
    float:left;
    left: -20px;
    top: 0px;
    border: 10px solid transparent;
    border-right: 10px solid #CED0B6;
    border-top: 10px solid #CED0B6;
    width: 0px;
    display: block;
}
.time_block{
	font-size: 0.8em;
	line-height: 10px;
	padding-top:5px;
}
.message-block:first-child{
	margin-top: 0;
}
.message-block.other-message:before{
	float:left;
	border-right: 10px solid #ffff80;
    border-top: 10px solid #ffff80;
}
.message-block.your-message:before{
	float: right;
    left: 100%;
    border-right: 10px solid transparent;
    border-left: 10px solid #99ff99;
    border-top: 10px solid #99ff99;
}
.chat-form{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px;
	padding: 25px;
	padding-top: 5px;
	margin-bottom:-120px;
}
.chat-form textarea {
	width: 100%;
	resize: none;
	box-sizing: border-box;
    padding: 10px;
    background: #808080;
}
.chat-button{
	display: block;
	float:right;
	width:100px;
	height: 30px;
	margin-top:6px;
    background: #808080;
    border: 1px solid rgb(169, 169, 169);
}
.chat-container{
	position: absolute;
	top:54px;
	bottom:120px;
	width:100%;
	display: none;
}



.game-canvas.container-fluid {
	display: none;
}
.white-cell {
	background: #fff;
}
.black-cell {
	background: #CED0B6;
}
.green {
	background: #228B22;
}
.red {
	background: #f00;
}
.white-cell.green, .white-cell.red{
	opacity: 0.8;
}
.black-cell.green, .black-cell.red{
	opacity: 0.9;
}
.game-auth {
	padding-top: 1px;
	padding-bottom: 30px;
}
.modal-block-container{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	text-align: center;
}
.modal-block-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.modal-block{
	display: inline-block;
	background: #fff;
	width: 400px;
	vertical-align: middle;
	text-align: center;
	box-shadow: 0 -8px 16px 0 rgba(0,0,0,0.2), 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 35px 0 rgba(0,0,0,0.19);
	border-radius: 0.5vw;
}
.modal-block > p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 2em;
    display: inline-block;
}
.modal-block input[type="submit"]{
    display: block;
    width: 120px;
    margin: 0 auto 30px auto;
    line-height: 1.3;
    font-size: 2em;
    text-align: center;
	-webkit-transition: box-shadow 0.5s ease-out;
	-moz-transition: box-shadow 0.5s ease-out;
	-o-transition: box-shadow 0.5s ease-out;
	transition: box-shadow 0.5s ease-out;
}
.modal {
	width: 50vw;
	margin: 9vw auto 0 auto;
	background: #CED0B6;
	position: relative;
	border-radius: 1vw;
}
.modal .game-title{
	position: absolute;
    width: 40vw;
    font-size: 3vw;
    text-align: center;
    left: 50%;
    top: -6vw;
    margin-left: -20vw;
}
.textfield {
	display: block;
	width: 20vw;
	margin: 1vw auto ;
	line-height: 2;
	font-size: 1.5vw;
	text-align: center;
	-webkit-transition: box-shadow 0.5s ease-out;
	-moz-transition: box-shadow 0.5s ease-out;
	-o-transition: box-shadow 0.5s ease-out;
	transition: box-shadow 0.5s ease-out;
}


div[data-check-container]{
	float: left;
	width:10vw;
	font-size: 1.5vw;
	text-align: center;
}
.check_mode_block{
	width: 20vw;
	height: 3vw;
	left: 50%;
	margin-left: -10vw;
	position: relative;
}


/*********************)**********************
chess figures
********************************************/



.king_black {

	background-image: url('../images/figures/king_black.png');

}
.queen_black {

	background-image: url('../images/figures/queen_black.png');

}
.rook1_black, .rook2_black {

	background-image: url('../images/figures/rook_black.png');

}
.knight1_black, .knight2_black {

	background-image: url('../images/figures/knight_black.png');

}
.bishop1_black, .bishop2_black {

	background-image: url('../images/figures/bishop_black.png');

}
.pawn1_black, .pawn2_black, .pawn3_black, 
.pawn4_black, .pawn5_black, .pawn6_black, 
.pawn7_black, .pawn8_black {

	background-image: url('../images/figures/pawn_black.png');

}
.king_white {

	background-image: url('../images/figures/king_white.png');

}
.queen_white {

	background-image: url('../images/figures/queen_white.png');

}
.rook1_white, .rook2_white {

	background-image: url('../images/figures/rook_white.png');

}
.knight1_white, .knight2_white {

	background-image: url('../images/figures/knight_white.png');

}
.bishop1_white, .bishop2_white {

	background-image: url('../images/figures/bishop_white.png');

}
.pawn1_white, .pawn2_white, .pawn3_white, 
.pawn4_white, .pawn5_white, .pawn6_white, 
.pawn7_white, .pawn8_white {

	background-image: url('../images/figures/pawn_white.png');

}



/********************************************
chessBot
********************************************/

.ai-settings{
	float: left;
	width: 320px;
	height: 100vh;
	position: relative;
	z-index: 1;
	background-color: #808080;
	margin-left: -320px;
	color:white;
	transition: margin-left 0.5s ease-out;
	-webkit-transition: margin-left 0.5s ease-out;
	-moz-transition: margin-left 0.5s ease-out;
	-o-transition: margin-left 0.5s ease-out;
}
.ai-settings_active{
	margin-left: 0;
}
.container__icon-menu {
	background-color: #CED0B6;
	white-space: nowrap;
	color: white;
	position: relative;
	padding-left: 60px;
	font-size: 1.5em;
	width: 100%;
	overflow-y: visible;
	transition: width 1s ease-out;
	-webkit-transition: width 1s ease-out;
	-moz-transition: width 1s ease-out;
	-o-transition: width 1s ease-out;
}
.container__icon-menu_wrapper {
	overflow-x: auto;
	text-align: center;
	padding-right: 60px;
	min-height: 62px;
}
.container__icon-menu_wrapper img:last-of-type {
	margin-right: 12px !important;
}
.container__icon-menu_wrapper img:nth-of-type(2){
	margin-left: 12px !important;
}
.container__ai-info-output{
	display: inline-block;
	margin-right: 25px;
}
.container__ai-info-output > div {
	display: inline-block;
	vertical-align: middle;
}
.container__progressBar{
	display: block;
	width: 100%;
	background: #fff;
	height: 5px;
	position: absolute;
	border: none;
	right: 0px;
}
.container__icon-menu_wrapper img{
	display: inline-block;
	cursor: pointer;
	padding: 20px; 
	max-width: 60px;
}
.container__icon-menu_wrapper img:not(:nth-of-type(1)){
	padding: 0 12px;
	margin-right:9px;
	margin: 13px 0;
	margin-right:25px;
}
.container__icon-menu_wrapper span{
	vertical-align: middle;
}
.container__menu-button{
	padding:20px 16px !important;
	width: 60px;
	margin-right: 20px;
	position: absolute;
	left: 0;
}

.container__undo-arrow{

}
.container__forward-arrow{

	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);

}

.container__mobile_metrics {
	position: absolute;
	text-align: left;
	top: 65px;
	right: 0;
	z-index: 1;
	opacity: 0.9;
	left: 0;
}
.container__auto{
	padding: 6px 12px !important;
}

.container__metrics{
	padding-top: 4.5px !important;
	padding-bottom: 4.5px !important;
	display: none !important;
}

.container__undo-arrow:hover,
.container__forward-arrow:hover,
.container__auto:hover,
.container__metrics:hover{
	box-shadow: 0 -8px 16px 0 rgba(0,0,0,0.2), 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 35px 0 rgba(0,0,0,0.19);
}
.container__undo-arrow.active,
.container__forward-arrow.active,
.container__auto.active,
.container__metrics.active {
	box-shadow: inset 0 2px 16px 0 rgba(0,0,0,0.2);
}

.ai-settings__item{
	position: relative;
	width: 100%;
	display: inline-block;
	border-bottom: 2px solid #5CBAFC;
	margin-bottom: 15px;
}
.ai-settings__item > .ai-settings__list {
	font-size: 0.9em;
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 0;
}
.ai-settings__list{
	font-size: 1.5em;
	padding-left: 16px;
	padding-right: 16px;

}
.ai-settings__item > [type="checkbox"],
.ai-settings__item > [type="radio"]{
	display:none;
}
.ai-settings__item > [type="checkbox"] + label,
.ai-settings__item > [type="radio"] + label{
	position: relative;
	float: right;
	padding-left: 25px;
	cursor: pointer;
}
.ai-settings__item > [type="checkbox"] + label:before,
.ai-settings__item > [type="radio"] + label:before{
	content: '';
	position: absolute;
	left:0; top: 6px;
	width: 17px; height: 17px;
	border: 1px solid #aaa;
	background: #f8f8f8;
	border-radius: 3px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
.ai-settings__item > [type="radio"] + label:before{
	border-radius: 20px;
}
.ai-settings__item > [type="checkbox"] + label:after,
.ai-settings__item > [type="radio"] + label:after{
  content: '✔';
  position: absolute;
  top: 7px; left: 2px;
  font-size: 18px;
  line-height: 0.8;
  color: #5CBAFC;
  transition: all .2s;
}
.ai-settings__item > [type="checkbox"]:not(:checked) + label:after,
.ai-settings__item > [type="radio"]:not(:checked) + label:after{
	opacity: 0;
	transform: scale(0);
}
.ai-settings__item > [type="checkbox"]:checked + label:after,
.ai-settings__item > [type="radio"]:checked + label:after{
	opacity: 1;
	transform: scale(1);
}
.ai-settings__item-select{
	position: relative;
	padding-right: 30px;
	text-indent: 16px;
	float: right;
	color: #5CBAFC;
	cursor: pointer;
	border: 1px solid #aaa;
	background: #f8f8f8;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
}
.ai-settings__item-select:before{
	content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #5CBAFC transparent transparent transparent;
    position: absolute;
    top: 12px;
    right: 10px;
}
.ai-settings__item-select.active:before{
	top: 5px;
    border-color: transparent transparent #5CBAFC transparent;
}
.ai-settings__item-select-list{
	position: absolute;
	visibility: hidden;
	top:100%;
	float: right;
	font-size: 1em;
	padding: 0;
}
.ai-settings__item-select-list.active{
	visibility: visible;
}
.ai-settings__item-select-item{
	width: 100%;
	position: relative;
	display: inline-block;
	color: #5CBAFC;
	background: #f8f8f8;
	padding-right: 16px;
	text-indent: 16px;
	border-top: 1px solid #aaa;
	cursor: pointer;
	z-index: 1;
}
.ai-settings__item-select-item:hover{
	z-index: 100;
	box-shadow: 0 -8px 16px 0 rgba(0,0,0,0.2), 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 35px 0 rgba(0,0,0,0.19);
}
.ai-settings__item-select-div {
	position: relative;
	float: right;
	left: -8px;
	top: -8px;
}
.ai-settings__item-select-div > select {
	display: none;
	visibility: hidden;
}
.ai-settings__x-mark-menu{
	font-size: 1.5em;
	position: relative;
	left:0;
	height: 62px;
	background-color: #808080;
}
.ai-settings__x-mark-menu > p{
	display: inline-block;
	margin: 0;
	padding-top: 18px;
}
.ai-settings__x-mark-menu > img{
	display: block;
	float: left;
	cursor: pointer;
	width: 48px;
	padding-top: 7px;
	padding-bottom: 7px;
}
.row{
	overflow-x: hidden;
	transition: padding-left 1s ease-out;
	-webkit-transition: padding-left 1s ease-out;
	-moz-transition: padding-left 1s ease-out;
	-o-transition: padding-left 1s ease-out;

}
.row_compressed{
	padding-left: 320px;

}










/********************************************
media
********************************************/
@media (min-width: 992px) {
	.chat-container{
		width:320px;
	}
}
@media (min-width: 510px) {
	.board__cell{
		height: 60px !important;
	}
}
@media (min-width: 1599px){
	.board {
		width: 960px;
		height: 960px;
		margin-top: -480px;
		margin-left: -480px;
	}

	.board__cell {
		height: 118.75px !important;
	}
	
}




@media (max-width: 400px){
	.board{
/*		width:100%;
		height: auto;
		box-sizing: border-box;
		margin-left: -50%;*/
		margin-top: -50%;
	}
}

@media (max-width: 510px){
	.board{
		width:100%;
		height: auto;
		box-sizing: border-box;
		margin-left: -50%;
		/*margin-top: -50%;*/
	}
	.board-container{
		min-width: initial !important;
		width:100vw !important;
	}
	.modal{
		width: 100%;
		border-radius: 0;
		margin-top: 80px;
	}
	.modal 	.game-title{
		width: 80%;
		font-size: 1.5em;
		text-align: center;
		left:50%;
		margin-left: -40%;
		top:-54px;
	}
	.modal-block {
		width: 80%;
	}
	.modal-block > p {
		line-height: 2;
		font-size: 1.5em;
		padding-top: 3vw;
		padding-bottom: 3vw;
	}
	.modal-block input[type="submit"]{
	    width: 40vw;
	    margin: 0 auto 4.5vw auto;
	    line-height: 1.7;
	    font-size: 1.5em;
	    margin-bottom: 6vw;
	}

	.textfield {
		display: block;
		width: 80%;
		margin: 10px auto 0 auto;
		font-size: 1.5em;
	}
	.check_mode_block{
		width: 80%;
		height: 30px;
		margin-left: -40%;
	}
	div[data-check-container]{
		padding-top: 15px;
		width: 100%;
		font-size: 1.5em;
	}
	input[data-check] + label{
		font-size: 1em;
	    line-height: 40px;
	    height: 40px;
	    padding-top: 0;
	    top: -10px;
	}
	.block-notification {
		width: 80%;
		margin: auto;
		color: #f00;
		font-weight: 600;
		font-size: 1.2em;
		text-align: left;
	}
}

@media (max-height: 569px){
	/*.board{
		margin-top:0;
		top:0;
	}*/
	.board-container{
		height: 490px;
	}
	.container__icon-menu{
		margin-bottom: 5px;
	}
	.ai-settings{
		position: absolute;
		height: 544px;
	}

}

@media (max-width: 768px) {
	.container__icon-menu {
		text-align: center;
	}
	.container__icon-menu * {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.container__ai-info-output {
		display: none;
	}
	.container__mobile_metrics .container__ai-info-output {
		display: inline-block;
		background: #fff;
		color: #000;
		float: left;
		width: 100%;
		margin-left: 30px;
	}
	.container__metrics {
		display: inline-block !important;
	}
}


